.work-list-container
   padding: 0 15px
   ul
      padding-left: 0
      li
         list-style: none
         border-top: 1px solid #d6d6d6
         padding: 25px 0 10px
         a
            display: block
            transition: all 0.4s ease-in-out
            h1
               font-size: 20px
               letter-spacing: 0.2px
               font-weight: 400
               text-align: left
            p
               color: #ababab
               font-size: 14px
               letter-spacing: 0.3px
            h1,p
               margin: 3px 0

   ul:hover li
      a
         opacity: 0.1
   ul:hover li:hover
      a
         opacity: 1
@media only screen and (min-width: 720px)
   .work-list-container
      ul
